{% extends 'base.html' %}
{% block title%}Accounts{% endblock title%}
{% block content%}
<main>
  <h1>Account List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account in account_list %}
      <tr>
        <td>{{account.name}}</td>
        <td>{{account.number}}</td>
        <td>{{receipt.account.number}}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content%}
